html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Live FX Prices
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bower_components/nvd3/nv.d3.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')\
    link(rel='stylesheet', href='/bower_components/select2/select2.css')
  body
    block body